@charset "UTF-8";
/**
 * evenements.scss
 */
/**
 * _uqam-variables.scss
 * Variable lié à l'UQAM
 * Mixin pour aider à créer du CSS
 */
/**
 * _media-queries.scss
 * MEDIA QUERIES
 * Provient de: https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/
 * Par Glenn McComb
 *
 * Fonctions à utiliser pour créer des Media Queries
 */
.evenements.widget .widget-title {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.evenements.widget .uqam_evenements-all {
  float: right;
  font-size: 1.125rem;
  margin-left: 2rem;
}
.evenements.widget .uqam_evenements-all::after {
  content: "";
  background: url(https://gabarit-adaptatif.uqam.ca/statique/images/icones/svg/fleche_bleu_uqam.svg) left center no-repeat;
  background-size: 6px;
  margin-left: 0.35rem;
  padding: 0.25rem;
}
.evenements.widget .uqam_evenements-container {
  width: 100%;
  border-top: none;
  padding-top: 0;
}
.evenements.widget .uqam_evenements-container::after {
  content: "";
  display: table;
  clear: both;
}
.evenements.widget .uqam_evenements-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.875em;
  width: 100%;
  margin: 0 0 1.25rem;
  padding: 0 0 1.375rem;
}
.evenements.widget article {
  display: block;
  float: none;
  width: inherit;
  margin-right: inherit;
}
.evenements.widget article .uqam_evenements-title {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-top: 0;
}
.evenements.widget article img {
  width: 100%;
  height: auto;
  margin-bottom: 0.625rem;
}
.evenements.widget article .uqam_evenements-content {
  font-size: 0.875em;
}
.evenements.widget article .uqam_evenements-date {
  margin-top: 0.625rem;
}

@media (max-width: 767px) {
  .evenements.widget .uqam_evenements-container {
    width: 100%;
    margin: 0 0 1.25rem;
  }
  .evenements.widget .uqam_evenements-wrapper {
    display: block;
  }
  .evenements.widget .uqam_evenements-wrapper .uqam_evenements-all {
    display: block;
    float: right;
  }
  .evenements.widget .uqam_evenements-wrapper .uqam_evenements-all::after {
    content: "";
    background: url(https://gabarit-adaptatif.uqam.ca/statique/images/icones/svg/fleche_bleu_uqam.svg) left center no-repeat;
    background-size: 6px;
    margin-left: 0.35rem;
    padding: 0.25rem;
  }
  .evenements.widget .uqam_evenements-content {
    margin-top: 0px !important;
  }
  .evenements.widget .uqam_evenements-date {
    margin-top: 0.625rem;
  }
  .evenements.widget article {
    width: 100%;
    margin: 0 0 1.25rem;
    padding: 0 0 1.375rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .evenements.widget article .uqam_evenements-image {
    max-width: 100%;
  }
  .evenements.widget article .uqam_evenements-image img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .evenements.widget article .uqam_evenements-title {
    line-height: 1.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .evenements.widget article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }
}/*# sourceMappingURL=evenements.css.map */