/**
 * babillard.scss
 */
@import "../../assets/styles/uqam-variables";
@import "../../assets/styles/media-queries";

.babillard.widget{

  .widget-title{
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }

  .uqam_babillard-all{
    float: right;
    font-size: 1.125rem;
    margin-left: 2rem;

    &::after{
      content: '';
      background: url(https://gabarit-adaptatif.uqam.ca/statique/images/icones/svg/fleche_bleu_uqam.svg) left center no-repeat;
      background-size: 6px;
      margin-left: 0.35rem;
      padding: 0.25rem;
    }
  }

  .uqam_babillard-container{
    width: 100%;
    border-top: none;
    padding-top: 0;

    &::after{
      content: '';
      display: table;
      clear: both;
    }
  }

  .uqam_babillard-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.875em;
    width: 100%;
    margin: 0 0 1.25rem;
    padding: 0 0 1.375rem;
  }

  article{
    display: block;
    float: none;
    width: inherit;
    margin-right: inherit;

    .uqam_babillard-title{
      font-size: 1.125rem;
      font-weight: normal;
      line-height: 1.5rem;
      margin-top: 0;
    }

    .uqam_babillard-image{
      img{
        width: 100%;
        height: auto;
        margin-bottom: 0.625rem;
      }
    }

    .uqam_babillard-date{
      font-size: 0.875em;
      margin-top: 0.625rem;
    }

    .uqam_babillard-excerpt{
      margin-top: 1rem;
    }
  }

}

//Mobile
@include respond-below(md) {
  .babillard.widget{

    .uqam_babillard-container{
      width: 100%;
      margin: 0 0 1.25rem;
    }

    .uqam_babillard-wrapper{
      display: block;

      .uqam_babillard-all{
        display: block;
        float: right;

        &::after{
          content: '';
          background: url(https://gabarit-adaptatif.uqam.ca/statique/images/icones/svg/fleche_bleu_uqam.svg) left center no-repeat;
          background-size: 6px;
          margin-left: 0.35rem;
          padding: 0.25rem;
        }
      }
    }

    article{
      width: 100%;
      margin: 0 0 1.25rem;
      padding: 0 0 1.375rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);

      .uqam_babillard-image{
        max-width: 100%;

        img{
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }

      .uqam_babillard-title{
        line-height: 1.5rem;
      }
    }

  }
}

@include respond-between(sm, md){
  .babillard.widget{

    article {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 2em;
    }

  }
}